@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/* ============================== */
.wrapper {
	min-height: 100%;
	/* overflow: hidden; */
}
/* ============================== */


body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.main-page__image img {
	width: 100%;
}

.who-we-are__conteiner {
	position: relative;
	max-width: 1020px;
	margin: 0 auto;
}
.who-we-are__content-box {
	position: absolute;
	top: -80px;
	max-width: 100%;
	background-color: #5D62B5;
	border-radius: 40px;
	padding: 100px 87px 354px 87px;
}
.content-box-who-we-are__sub-title {
	position: relative;

	color: #FFFFFF;
	margin: 0px 0px 33px 0px;
	padding-left: 33px;
	font-size: 12px;
	font-weight: 700;
	line-height: 2;
	letter-spacing: 2.5px;
}
.content-box-who-we-are__sub-title::before{
	content: "";
	background: url('../img/OverlineMark.svg') 0 0 no-repeat;
	width: 25px;
	height: 25px;
	position: absolute;
	left: 0px;
	top: -2px;
}
.content-box-who-we-are__title {
	color: #FFFFFF;
	margin: 0px 0px 36px 0px;
	font-size: 36px;
	font-weight: 900;
	line-height: 1.17;
	max-width: 583px;

	position: relative;
	z-index: 2;
}
.content-box-who-we-are__text {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.15px;

	position: relative;
	z-index: 2;
}

.who-we-are__content-box::before{
	content: "";
	background: url("../img//StylizeCircles.svg") 0 0 no-repeat;
	position: absolute;
	width: 201px;
	height: 317px;
	right: -76px;
	top: -109px;
	z-index: 1;
}

.who-we-are__content-box::after{
	content: "";
	background: url('../img/Blob2.png') 0 0 no-repeat;
	position: absolute;
	width: 663px;
	height: 590px;
	left: 0px;
	top: 260px;
}

.content-box-who-we-are__image img{
	position: absolute;
	z-index: 3;
	bottom: -130px;

	border-radius: 40px;
	max-width: 100%;
	height: 420px;
	margin: 0 auto;
}

